<div class="grid-cell-edit-menu" (click)="$event.stopPropagation()">
  <div class="grid-cell-edit-menu-input-wrapper">
    <div *ngIf="label" class="grid-cell-edit-menu-input-label">
      {{ label }}
    </div>
    <input class="grid-cell-edit-menu-input" [value]="value" (input)="onInput($event)"/>
  </div>
  <div class="grid-cell-edit-menu-buttons">
    <button class="grid-cell-edit-menu-button clear" (click)="onClear()">נקה</button>
    <button class="grid-cell-edit-menu-button cancel" (click)="cancel.emit()">ביטול</button>
    <button class="grid-cell-edit-menu-button save" (click)="save.emit(value)">שמירה</button>
  </div>
</div>
