.grid-row {
  display: grid;
  gap: 2px;
  align-items: center;
  border-radius: var(--pr-table-cell-radius);
  grid-auto-rows: var(--pr-table-cell-row-height);
  background-color: var(--pr-table-group-bg);
}
