.grid-header-row {
  display: grid;
  gap: 2px;
  grid-auto-rows: var(--pr-grid-column-row-height);

  .sticky {
    position: sticky !important;
    right: 0;
    z-index: 1;
  }

  .grid-header-cell {
    cursor: grab;
    position: relative;
    color: var(--pr-grid-column-color);
    background-color: var(--pr-grid-column-bg);
    border-radius: var(--pr-grid-column-radius);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pr-grid-column-font-size);

    &:active {
      cursor: grabbing;
    }

    .resizer {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 10px;
      cursor: col-resize;
      z-index: 1;

      &:hover {
        border-left: 2px solid var(--pr-grid-primary);
      }
    }
  }
}
