<div
  class="grid-header-row"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onDropColumn($event)"
  [style.grid-template-columns]="gridTemplateColumns">
  <div
    *ngFor="let column of columns; trackBy: trackByColumn"
    cdkDrag
    cdkDragLockAxis="x"
    cdkDragPreviewContainer="parent"
    [cdkDragData]="column"
    (cdkDragStarted)="onDragStart()"
    (cdkDragEnded)="onDragEnd()"
    class="grid-header-cell"
    [class.sticky]="column.isSticky"
    [style.right]="column.isSticky ? (tableStore.columnRightInPx$(column) | async) : 'unset'"
    [tvsColumnResize]="column"
  >
    {{ column.title }}
    <span class="resizer"></span>
    <ng-template cdkDragPreview></ng-template>
  </div>
</div>
