:host {
  .grid-viewport {
    height: 250px;
    overflow: auto;
    position: relative;

    .grid-body {
      display: grid;
      max-width: var(--pr-grid-max-width, 650px);
      gap: 2px;
      grid-auto-rows: var(--pr-grid-group-row-height);
      overflow: auto;

      .row {
        //display: contents;
      }
    }

    .grid-row-selection {
      position: absolute;
      top: 0;
      bottom: 0;
      border: 1px solid var(--pr-grid-primary);
      background-color: var(--pr-grid-primary-opacity);
      border-radius: var(--pr-grid-cell-radius);
      width: 100%;
      z-index: 1000;
      pointer-events: none;
    }
  }

  .sticky {
    position: sticky !important;
    left: 0;
    z-index: 3;
  }
}
