:host {
  .grid-viewport {
    height: 250px;
    overflow: auto;
    position: relative;

    .grid-body {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .grid-row-selection {
      position: absolute;
      top: 0;
      bottom: 0;
      border: 1px solid var(--pr-table-primary);
      background-color: var(--pr-table-primary-opacity);
      border-radius: var(--pr-table-cell-radius);
      width: 100%;
      z-index: 1000;
      pointer-events: none;
    }
  }

  .sticky {
    position: sticky !important;
    left: 0;
    z-index: 3;
  }
}
