@use '@angular/material' as mat;
@use 'helpers';
@use './variables.scss';

@include mat.core();

@include mat.all-component-themes(helpers.$mat-app-theme);

@import 'highlight';

html,
body {
  height: 100%;
  --pr-table-bg: #{variables.$pr-table-background-color};
  --pr-table-group-bg: #{variables.$pr-table-header-group-background-color};
  --pr-table-group-color: #{variables.$pr-table-header-group-text-color};
  --pr-table-group-radius: #{variables.$pr-table-header-group-border-radius};
  --pr-table-column-bg: #{variables.$pr-table-header-column-background-color};
  --pr-table-column-color: #{variables.$pr-table-header-column-text-color};
  --pr-table-column-radius: #{variables.$pr-table-header-column-border-radius};
  --pr-table-cell-bg: #{variables.$pr-table-cell-background-color};
  --pr-table-cell-color: #{variables.$pr-table-cell-text-color};
  --pr-table-cell-radius: #{variables.$pr-table-cell-border-radius};
  --pr-table-primary: #{variables.$pr-table-primary-color};
  --pr-table-primary-opacity: #{variables.$pr-table-primary-color-opacity};
}

body {
  margin: 0;
  padding: 0;
  background: helpers.mat-theme-color(background, background);
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
  box-sizing: border-box;
}

code {
  font-size: 90%;
  font-family: 'Roboto Mono', monospace;
}

h1, h2 {
  font-weight: 400;
}

.spacer {
  flex: 1 1 auto;
}

.docs {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
