$pr-grid-primary-color: #40a0ff;
$pr-grid-primary-color-opacity: #40a0ff30;

$pr-grid-background-color-dark: #000000;
$pr-grid-header-group-background-color-dark: #212428;
$pr-grid-header-group-text-color-dark: #ADB6CC;
$pr-grid-header-column-background-color-dark: #545A66;
$pr-grid-header-column-text-color-dark: #F4F5F7;
$pr-grid-cell-background-color-dark: #3C414C;
$pr-grid-cell-text-color-dark: #E7EAEF;
$pr-grid-lowest-group-bg-dark: #000000;

$pr-grid-group-by-row-background-color-dark: #2B303C;
$pr-grid-group-by-row-border-color-dark: #3C414C;
$pr-grid-group-by-row-name-color-dark: #F6F7F9;
$pr-grid-group-by-row-count-color-dark: #B9C5D8;
$pr-grid-group-by-row-dropdown-color-dark: #BDC7D1;

$pr-grid-group-by-row-background-color-light: #f8faff;
$pr-grid-group-by-row-border-color-light: #EDF2FF;
$pr-grid-group-by-row-name-color-light: #3C414C;
$pr-grid-group-by-row-count-color-light: #808BA6;
$pr-grid-group-by-row-dropdown-color-light: #BDC7D1;
$pr-grid-lowest-group-bg-light: #dadada;

$pr-grid-background-color-light: #F9FAFF;
$pr-grid-header-group-background-color-light: #FFFFFF;
$pr-grid-header-group-text-color-light: #636874;
$pr-grid-header-column-background-color-light: #F1F5FD;
$pr-grid-header-column-text-color-light: #808BA6;
$pr-grid-cell-background-color-light: #F8FBFF;
$pr-grid-cell-text-color-light: #646F8C;

$pr-grid-max-width: 650px;
$pr-grid-header-group-row-height: 30px;
$pr-grid-header-group-border-radius: 8px;
$pr-grid-header-group-font-weight: 600;
$pr-grid-header-group-font-size: 14px;
$pr-grid-header-column-row-height: 30px;
$pr-grid-header-column-border-radius: 4px;
$pr-grid-header-column-font-weight: 400;
$pr-grid-header-column-font-size: 12px;
$pr-grid-cell-row-height: 30px;
$pr-grid-cell-border-radius: 4px;
$pr-grid-cell-font-weight: 400;
$pr-grid-cell-font-size: 12px;
$pr-grid-group-by-row-border-radius: 4px;
$pr-grid-group-by-row-font-weight: lighter;
$pr-grid-group-by-row-font-size: 13px;


