@use '../../../../variables';

:host {
  display: block;
  width: fit-content;

  .grid {
    display: flex;
    flex-direction: row;
    width: max-content;
    background-color: var(--pr-grid-bg);
    max-width: inherit;
    position: relative;
    gap: 6px;

    .sticky {
      position: sticky !important;
      left: 0;
      z-index: 3;
    }

    .cdk-drag-placeholder {
      filter: brightness(80%);
    }
  }
}
